body {
    background-image: url(bg-image.png);
    background-color: #573824;
    background-size: cover;
}

img {
    border-radius: 16px;
}

.container {
    background-color: #F0E8C2;
    width: 800px;
    padding: 24px 24px;
    border-radius: 24px;
    margin: 48px auto;
    box-sizing: border-box;
}