* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* CORES */
    --blue-100: #080815;
    --blue-200: #0E0F25;
    --blue-300: #141534;
    --blue-400: #1F2151;
    --blue-500: #2F3279;
    --blue-600: #2F34AB;
    --blue-700: #4A5DCD;
    --blue-800: #7D8DEC;
    --blue-900: #B2B8DE;
    --white: #F1F2F6;

    /* TIPOGRAFIA */
    --font-family-1: "Inter", sans-serif;
    --font-family-2: "IBM Plex Mono", monospace;
    --heading: 800 32px/48px var(--font-family-1);
    --button: 600 16px/20px var(--font-family-1);
    --body: 400 16px/20px var(--font-family-1);
    --label: 400 12px/16px var(--font-family-1);

    --span: 16px/20px var(--font-family-2);
}