* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* principal */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* base */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;


    /* tipografia */
    --font-family-asap: "Asap", sans-serif;
    --title-lg: 600 56px/120%  var(--font-family-asap);
    --title-md: 600 24px/120%  var(--font-family-asap);
    --title-sm: 600 16px/120%  var(--font-family-asap);

    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120%  var(--font-family-inconsolata);

    --font-family-maven: "Maven Pro", sans-serif;
    --text-md-maven: 400 16px/140%  var(--font-family-maven);
    --text-sm-maven: 400 14px/140%  var(--font-family-maven);
}

.gap-56px {
    --gap: 56px;
}

.gap-80px {
    --gap: 80px;
}

.flex {
    display: flex;
}