/* FONTES,CORES E DIVISOR */
.subtitulo {
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #1B1B1B;
    font-size: 32px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-top: -10px;
}

.lista {
    color: #1B1B1B;
    font-size: 28px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.indicacoes {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.italico {
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

p {
    font-size: 16px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
}

.azul {
    font-size: 16px;
    color: #0C51A7;
    font-family: "Open Sans", sans-serif;
    margin-top: -10px;
    margin-bottom: 48px;
    font-weight: bold;
}

.roxo{
    color: #591B98;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-top: -10px;
    font-weight: bold;
}

.rosa {
    color: #E5245E;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.laranja {
    color: #E95E10;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

footer span {
    font-family: "Alice", serif;
    font-size: 16px;
    font-style: normal;
    padding-bottom: 68px;
}

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

body {
    background-color: #F5F4F0;
}

/* PADDING E MARGIN */
.container {
    box-sizing: border-box;
    padding: 80px;
    margin: 8px auto;
}

.container img {
    width: 100%;
    margin-bottom: 4px;
}

.secao1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.secao2 {
    margin-top: 64px;
    margin-bottom: 64px;
}


